$font-stack: "Poppins", sans-serif;
$primary-color: #f9c77f;
$text-color: #1d2d5a;

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  text-decoration: none;
  color: $text-color;
}

//
body {
  font-family: $font-stack;
  font-weight: 600;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  height: 1000px;
  font-family: $font-stack;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 2rem;
}

.header {
  padding-top: 4rem;
  &__inner {
    @include flex(center, space-between);
  }
  &__menu {
    &-list {
      @include flex(center);
    }
    &-item {
      margin-left: 5rem;
      &:last-child {
        margin-left: 7rem;
      }
    }
    &-link {
      font-size: 1.6rem;

      transition: color 0.25s linear, border 0.25s linear;
      &:hover {
        color: $primary-color;
      }
    }
  }
  &__login {
    padding: 1.5rem 2.5rem;
    display: inline-block;
    border: 1px solid currentColor;
    border-radius: 2.5rem;
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: $text-color;
  &__text {
    color: $primary-color;
  }
}

.banner {
  max-width: 1210px;
  padding: 0 2rem;
  margin: 0 auto;
  height: 550px;

  @include flex(center, center);
  &__inner {
    height: 260px;
    width: 720px;

    text-align: center;
    &-title {
      font-size: 6.5rem;
      margin-bottom: 3.5rem;
    }
    &-description {
      font-size: 2.5rem;
      font-weight: 200;
      margin-bottom: 4rem;
    }
  }
}

.buttonBox {
  width: 350px;

  @include flex(center, space-between);
  margin: 0 auto;
  &__btn {
    padding: 18px 35px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid currentColor;
    font-weight: 600;
    font-size: 1.6rem;
    transition: color 0.5s linear;
    &:hover {
      color: white;
      background-color: black;
    }
    &:last-child {
      background-image: linear-gradient(
        to bottom,
        #ffeb7b,
        #ffeb7b,
        #ffeb7b,
        #ffeb7b,
        #ffeb7b,
        #ffe87b,
        #ffe57b,
        #ffe27b,
        #ffdb7c,
        #fdd47c,
        #fccd7e,
        #f9c77f
      );
      border: none;
      box-shadow: $primary-color 0px 7px 29px 0px;
    }
  }
}
